<h1>Ask your coach anything</h1>

<form action="<%= answer_path %>" method="get">
  <input class="form-control" type="text" name="question" placeholder="Type your question..." required>
  <input class= "btn btn-primary" type="submit" value="Ask!">
</form>
